<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="WebServiceProveedoresSoap" />
                        <binding name="WebServiceTrabajadoresSoap" />
                        <binding name="WebServiceProductosSoap" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:61368/WebServiceProveedores.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WebServiceProveedoresSoap"
                        contract="ServiceReferenceProveedor.WebServiceProveedoresSoap"
                        name="WebServiceProveedoresSoap" />
                <endpoint address="http://localhost:61368/WebServiceTrabajadores.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WebServiceTrabajadoresSoap"
                        contract="ServiceReferenceTrabajadores.WebServiceTrabajadoresSoap"
                        name="WebServiceTrabajadoresSoap" />
                <endpoint address="http://localhost:61368/WebServiceProductos.asmx"
                        binding="basicHttpBinding" bindingConfiguration="WebServiceProductosSoap"
                        contract="ServiceReferenceProductos.WebServiceProductosSoap"
                        name="WebServiceProductosSoap" />
        </client>
    </system.serviceModel>
</configuration>